RewriteEngine On

# Si le fichier ou dossier n'existe pas physiquement
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige vers index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Permettre l'accès aux ressources statiques
<FilesMatch "\.(css|jpg|jpeg|png|gif|js|ico)$">
    Order Allow,Deny
    Allow from all
</FilesMatch> 